<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	resultMap에서 TB_STUDENT, TB_DEPARTMENT
	id, result <- 앞에서 배운건 여기까지
	<association property="department" resultMap="department"/>을 사용해야 student department를 같이사용
	
	showStnudent 
 -->
 
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studentMapper">
 
 <resultMap type="Student" id="studentMap">
  <id property="studentNo" column="student_no"/>
  <result property="studentName" column="student_name"/>
  <result property="studentAddress" column="student_address"/>
  <association property="department" resultMap="departmentMap"/>  
 </resultMap>
 <resultMap type="Department" id="departmentMap">
	<id property="departmentNo" column="department_no" />
	<result property="departmentName" column="department_name" />
	<result property="category" column="category" />
 </resultMap>

 <select id="showStudent" resultMap="studentMap" parameterType="String">
 	<!--  #{name} : 조건 - name이 null인지 아닌지 Map을 사용하면 resultMap 아니면 resultType
 		   WHERE student_no, student_name, student_address, department_name, category 랑 name이 포함되어 있는지
 		   이 중 하나만 일치해도 나오면 되니까 OR 사용
 	-->
 	SELECT student_no, student_name, student_address, department_no, department_name, category
 	FROM tb_student
 	JOIN tb_department USING (department_no)
 	<where>
 		<if test="name!=null">		
 				student_no like '%'||#{name}||'%' 
 				OR student_name like '%'||#{name}||'%' 
 				OR student_address like '%'||#{name}||'%' 
 				OR department_name like '%'||#{name}||'%' 
 				OR category like '%'||#{name}||'%' 		
 		</if>
 		</where>
 </select>
 </mapper>